@import '../../../scss/variable';

.music-list {
    &__sort {
        cursor: pointer;
        margin-left: 1.5rem;

        i {
            font-size: 2rem;
            padding: 0.2rem;
            border: 2px solid #0000006b;
            border-radius: 8px;

            &:hover {
                color: black;
            }
        }
    }

    &__list {
        height: $height-form-music;
        overflow-x: auto;
        padding-right: 1.5rem;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 5px;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #4d0072;
        }
    }
}

@media only screen and (min-width: 1300px){
    .music-list {
        &__sort {
            padding-top: unset !important;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1299px){
    .music-list {
        &__sort {
            padding-top: unset !important;
        }
    }
}

@media only screen and (max-width: 1023px){
    .music-list {
        &__sort {
            padding-top: unset !important;
        }

        &__list {
            padding-right: 0;
            overflow-x: unset;
            height: unset;
            padding-bottom: 1rem;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}