
.music {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    grid-column-gap: 3rem;
    align-items: center;

    &__heading {
        font-size: 1.7rem;
        font-weight: 500;
        padding-bottom: 3rem;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 1023px){
    .music {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .music {
        &__heading {
            padding-bottom: 4rem;
        }
    }
}