
.music-item {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 9px;
    padding: 1rem 0;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    box-shadow: 0px 2px 6px #00000014;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background-color: #cbbaac;
    }

    &__heading {
        display: flex;
        justify-content: space-between;

        span {
            color: #000000a3;
            font-size: 1.4rem;
            margin-top: -0.4rem;
        }
    }

    &__stt, &__timer {
        text-align: center;
    }

    &__stt {
        width: 8%;
        font-weight: 500;
    }

    &__img {
        width: 60px;
        border-radius: 12px;
    }

    &__song {
        width: 40%;
        padding-left: 2rem;
        font-weight: 600;
    }
    
    &__singer {
        width: 30%;
    }

    &__timer {
        flex: 1;
    }        
}

@media only screen and (max-width: 1023px){
    .music-item {
        &__heading {
            span {
                padding-top: 1rem;
            }
        }

        &__song {
            padding-left: 1.5rem;
            padding-right: 1rem;
        }

        &__singer {
            width: 25%;
        }
    }
}

@media only screen and (max-width: 767px){
    .music-item {
        &__img {
            width: 50px;
        }
    }
}