@import '../../scss/variable';

.search {
    &__group {
        display: flex;
        align-items: center;
        background-color: white;
        width: 300px;
        border-radius: 10px;
        padding: 0 1.5rem;
        box-shadow: 0px 0px 10px 1px #00000026;

        i {
            font-size: 1.6rem;
            padding-right: 1rem;
            color: $color-main;
        }

        &.focus {
            box-shadow: 0px 0px 10px 1px #0000002e;
        }
    }

    &__input {
        border: none;
        width: 100%;
        height: 4rem;
        font-family: 'Poppins', sans-serif;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

}

@media only screen and (max-width: 767px){
    .search {
        padding-top: 2rem;
        
        &__group {
            width: 100%;
        }
    }
}