@import '../components/DarkMode/DarkMode.scss';
@import './base';
@import './variable';

.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: linear-gradient(to right, #a58787f2, #a75e5ead);
}
 
.dark-item__text, .music-item__heading span.dark-item__text {
    color: #E6E6E6;
}

@media only screen and (max-width: 1023px){
    .App {
        position: unset;
    }
}