@import './base';
@import './variable';

.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: linear-gradient(to right, #b99b9b, #603c3c87);
}

@media only screen and (max-width: 767px){
    .App {
        position: unset;
    }
}